# Python
_pycache_/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Docker
docker-compose.override.yml

# Custom
.env
models/*.gguf
!models/.gitkeep
.venv/
*.db
